* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

/* header--------------------------------------- */

.main-header {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
}

.main-header .container {
    width: 1556px;
    height: 72px;
    justify-content: center;
    display: flex;
    margin: auto;
    font-size: 0px;


}

.main-header .container .left {
    width: 0;
    flex-grow: 1;
    margin-right: 80px;

}

.main-header .container .right {
    width: 0;
    flex-grow: 1;
    margin-left: 80px;

}

.main-header .container a {
    width: 200px;
    height: 72px;
    line-height: 72px;
    text-align: center;

    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.main-header .container .about {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
    background-color: #E5DF30;
}

.main-header .container .menu {
    -webkit-clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    background-color: #E5DF30;
}

.main-header .container .shop {
    -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    background-color: #E5DF30;
}

.main-header .container .order {
    -webkit-clip-path: polygon(100% 0, 100% 60%, 76% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 60%, 76% 100%, 0 100%, 0 0);
    background-color: #00e509;
}

.main-header .container .logo {
    width: 180px;
    height: 180px;
    z-index: 5;
}

.main-header .container .logo img {
    width: 100%;
    height: 100%;
}

/* banner---------------------------------- */

.banner {
    width: 100%;
    height: 284px;
    position: relative;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
}


/* main-onlineShop----------------------------------- */

.main-onlineShop{
    width: 100%;
    height: 1680px;
    background: linear-gradient(180deg, rgba(229, 223, 48), rgba(74, 229, 48));
}
.main-onlineShop .container{
    width: 1680px;
    height: 100%;
    margin: auto;
    background-color: #000;
    display: flex;
    flex-flow: column;
    position: relative;
}
.main-onlineShop .topbar{
    justify-content: center;
    display: flex;
    margin: 48px 0;
}

.main-onlineShop .topbar .vegetable{
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
}

.main-onlineShop .container .topbar .sauce{
    -webkit-clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
}
.main-onlineShop .container .topbar a {
    width: 200px;
    height: 72px;
    line-height: 72px;
    text-align: center;

    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background-color: #191A24;
}

/* .main-item-------------------------------------- */

.main-item{
    width: 100%;
    height: 2096px;
    background: linear-gradient(180deg, rgba(229, 223, 48), rgba(74, 229, 48));
}
.main-item .container{
    position: relative;
    width: 1680px;
    height: 100%;
    margin: auto;
    background-color: #000;
    font-family:'Noto Sans TC', sans-serif;
    color: #fff;
}
.main-item .container .item-info{
    display: flex;
    padding: 120px 140px;
}
.main-item .item-info .imgs{
    width: 50%;
}
.main-item .item-info .imgs .smallpic{
    width: 100%;
    /* padding: 40px 24px 0 0; */
}
.main-item .item-info .smallpic img{
    padding: 24px 16px 0 0;
}
.main-item .info-price{
    width: 50%;
    padding-left: 120px;
}
.main-item .info-price h1{
    font-size: 48px;
}
.main-item .info-price h2{
    font-size: 36px;
    padding: 32px 0;
}
.main-item .info-price p{
    display: block;
    padding: 32px 0;
    font-size: 24px;
    line-height: 140%;
}
.main-item .info-price select{
    margin-bottom: 100px;
    display: block;
    padding: 10px 20px;
    background-color: #E5DF30;
    font-family:'Noto Sans TC', sans-serif;
    font-size: 24px;
}
.main-item .info-price button{
    width: 260px;
    display: inline-block;
    padding: 16px 40px;
    font-family:'Noto Sans TC', sans-serif;
    font-size: 24px;
}
.main-item .info-price .addcart{
    background-color: #FBC528;
    margin-right: 20px;
}
.main-item .info-price .buy{
    background-color: #00e509;
}

/* item-intro---------------------------------------------- */

.main-item .item-intro{
    margin: 0 280px;
    font-family:'Noto Sans TC', sans-serif;
}
.main-item .item-intro h2{
    text-align: center;
    font-size: 36px;
    line-height: 140%;
    padding-bottom: 24px;
}
.main-item .item-intro p{
    font-size: 24px;
    line-height: 160%;
}

/* recommand--------------------------------------------- */
.recommand .recommand-title{
    width: 1112px;
    height: 50px;
    margin: 80px auto;
    background-color: #00e509;

    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #000;
}

.recommand .items{
    width: 1112px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.recommand .items .card{
    position: relative;
    background-color: #FBC528;
    margin: 0 24px;
    padding: 48px 20px 8px 20px;
    -webkit-clip-path: polygon(85% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(85% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
    color: #000;
}
.recommand .items .card img{
    width: 200px;
    height: 175px;
}
.recommand .items .card h2{
    display: block;
    width: 150px;
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}
.recommand .items .card p{
    display: block;
    width: 160px;
    text-align: left;
    font-size: 18px;
    line-height: 140%;
}
.recommand .items .card span{
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 24px;
}
.recommand .items .card .icon-cart{
    /* margin-top: 40px; */
    position: absolute;
    right: 24px;
    top: 70%;
    width: 30px;
    height: 30px;
}
.recommand .items .card .icon-cart img{
    width: 100%;
}
.big-cart{
    position: absolute;
    top: 40px;
    right: 40px;
}
.cart{
    position: absolute;
    top: 40px;
    right: 40px;
}

/* footer----------------------------------- */

.main-footer{
    width: 100%;
    height: 278px;
    background-color: #191A24;
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 140%;
    font-size: 20px;
    align-items: center;
}
.main-footer .container{
    width: 1680px;
    height: 150px;
    display: flex;
    padding: 64px 128px;
    margin: auto;
}

.main-footer .container .logo img{
    width: 150px;
    height: 150px;
}

.main-footer .container > .footer-item{
    width: 0;
    flex-grow: 1;
}
.footer-item{
    display: flex;
}
.main-footer .nav{
    display: flex;
    padding: 64px;
}
.main-footer .nav .col1{
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}
.main-footer .nav .col2{
    display: flex;
    flex-direction: column;
}
.footer-item .cal1{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}
.footer-item nav a{
    color: #fff;
    text-decoration: none;
}
.footer-item .opentime{
    padding-top: 64px;
}
.follow{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    
}
.follow img{

    padding: 20px 20px 0px 0px;
}
.copyright{
    width: 100%;
    text-align: center;
    margin-top: 84px;
}
