*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wraper{
    width: 100%;
    padding: 60px 0;
}
.container{
    width: 100%;
}
.top-block{
    padding: 0 15px;
    text-align: center;
    margin-bottom: 30px;
}
.top-block .one{
    font-weight: 700;
    font-size: 28px;
}
.Tibalearning{
    color: rgb(9, 173, 191);

}
.Tibalearning span{
    background-color:  rgb(9, 173, 191);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    margin: 8px;
}
.top-block .two{
    display: block;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 45px;
}
.bottom-block{
    display: flex;
    justify-content: center;
    margin: 0 15px;
}
.features{
    width: 33.3333%;
    text-align: center;
    padding: 0 15px;
}
.features .feature-name{
    margin: 16px;
}
.features .title{
    font-size: 16px;
    font-weight: bold;
}
.features p{
    font-size: 14px;
    margin-top: 16px;
    
}
