* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    height: 58px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 8px 16px;

}

.header>a {
    display: inline-block;
    margin: 0 16px 0 0;
    padding: 5px 5px;
    color: black;

}

.header>a>img {
    width: 100px;
    height: 36px;
}

.navbar-nav {
    margin-right: 140px;
}

.navbar-nav a {
    color: black;
    padding: 0 10px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    height: 100%;

}

.search-bar {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    padding: 0 120px 0 30px;
    height: 38px;

}

.search-icon {
    position: absolute;
    left: 10px;
}


.loginBottons {
    width: 186px;
    height: 100%;
    line-height: 40px;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.loginBottons a {
    box-sizing: border-box;

}

.loginBottons .login {
    display: inline-block;
    color: #09adbf;
    padding: 8px 20px;

}

.loginBottons .register {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    line-height: 35px;
    background-color: #14bdcc;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
}



.wraper {
    width: 100%;
    padding: 60px 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top-block {
    padding: 0 15px;
    text-align: center;
    margin-bottom: 30px;
}

.top-block .one {
    font-weight: 700;
    font-size: 28px;
}

.Tibalearning {
    color: rgb(9, 173, 191);

}

.Tibalearning span {
    background-color: rgb(9, 173, 191);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    margin: 8px;
}

.top-block .two {
    display: block;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 45px;
}

.bottom-block {
    display: flex;
    justify-content: center;
    margin: 0 15px;
}

.features {
    width: 33.3333%;
    text-align: center;
    padding: 0 15px;
}

.features img {
    width: 225px;
    height: 140px;
}

.features .feature-name {
    margin: 16px;
}

.features .title {
    font-size: 16px;
    font-weight: bold;
}

.features p {
    font-size: 14px;
    margin-top: 16px;
}

.course-container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.course-container>h3 {
    font-size: 28px;
    font-weight: bold;
}

.course-container .course-tab {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.course-container .new {
    color: black;
    padding: 10px 60px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.course-card-grid {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.course-card-grid img {
    width: 100%;
    height: auto;
    border-radius: 3px 5px 0px 0px;
}

.course-card-grid .coursecard {
    width: 255px;
    height: 334px;
    background-color: #fff;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.coursecard-body .label {
    padding: 18px 0 12px 0;
    font-size: 12px;
    padding-left: 8px;
}

.coursecard-body .label span {
    color: #09adbf;
}

.coursecard-body .course-name {
    font-size: 20px;
    margin: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.coursecard-body .course-detail{
    font-size: 12px;
    padding-left: 8px;
    color: gray;
}
.coursecard-body .course-price{
    padding-left: 8px;
    padding-top: 45px;
}
.course-price .NT{
    color: #14bdcc;
    font-size: 24px;
}
.course-price .chi{
    font-size: 12px;
    color: #14bdcc;
}
.course-price .viewer{
    font-size: 12px;
    padding-left: 35px;
}




.course-footer {
    display: flex;
    align-items: center;
}

.course-footer .teacher {
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.course-footer .teacher img {
    border-radius: 50%;
}